examples/basic.json
[{"id":"2f1a4c99.85d814","type":"inject","z":"ad7102ae.6dd24","name":"every 15min","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["99ce1c37.b0585"]]},{"id":"99ce1c37.b0585","type":"tunable-white","z":"ad7102ae.6dd24","url":"","key":"","x":530,"y":40,"wires":[[]]},{"id":"f179da8f.6a28f8","type":"inject","z":"ad7102ae.6dd24","name":"reset at night","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["70f17c31.1c2c54"]]},{"id":"70f17c31.1c2c54","type":"change","z":"ad7102ae.6dd24","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":100,"wires":[["99ce1c37.b0585"]]}]