examples/convert-CT-to-Kelvin.json
[{"id":"30ed56f29f3e7727","type":"inject","z":"b4de871a.229aa8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":5180,"wires":[["e24cb9f490bc5df4"]]},{"id":"e24cb9f490bc5df4","type":"tunable-white","z":"b4de871a.229aa8","url":"","key":"","dataPoint1Hour":"","dataPoint1CT":"","dataPoint2Hour":"","dataPoint2CT":"","dataPoint3Hour":"","dataPoint3CT":"","CTMax":"","CTMin":"","x":430,"y":5180,"wires":[["dfe18df3c76ec0d6"]]},{"id":"dfe18df3c76ec0d6","type":"function","z":"b4de871a.229aa8","name":"Convert output to Kelvin","func":"msg.payload = Math.round(1000000 / msg.newColor)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":5180,"wires":[[]]}]